#container {
    width:960px;
    margin:20px auto;
    background-color: black;
}

#content {
    float:left;
    width:620px;
}

#sidebar {
    float:left;
    width:340px;
}

#footer {
    clear:both;
}

.thumbnail {
	margin-bottom:7px;
}

.col-lg-6 {
    width: 50%;
        background-color: #2196F3;
    border: 1px solid #fff;
    height: 125px;
    padding: 15px;
    color: #fff;
}
#img_container {
    position:relative;
    display:inline-block;
    text-align:center;
    border:1px solid red;
}
.basic-caption-figure {
    border: 1px solid #CCC;
    padding: 3px;
    width: 30%;
}

.basic-caption-figure 
img {
    width: 100%;
}

.basic-caption-figure 
figcaption {
    padding: 3px;
}

