#container {
    width:960px;
    margin:20px auto;
    background-color: black;
}

#content {
    float:left;
    width:620px;
}

#sidebar {
    float:left;
    width:340px;
}

#footer {
    clear:both;
}

.thumbnail {
	margin-bottom:7px;
}

.col-lg-6 {
    width: 50%;
        background-color: #2196F3;
    border: 1px solid #fff;
    height: 125px;
    padding: 15px;
    color: #fff;
}
#img_container {
    position:relative;
    display:inline-block;
    text-align:center;
    border:1px solid red;
}
.basic-caption-figure {
    border: 1px solid #CCC;
    padding: 3px;
    width: 30%;
}

.basic-caption-figure 
img {
    width: 100%;
}

.basic-caption-figure 
figcaption {
    padding: 3px;
}

/*table layout - last column*/
table tr td:last-child {
    white-space: nowrap;
    width: 1px;
    text-align:right;
}

/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}



.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}